/*
Theme Name: Bells
Theme URI: http://google.com
Author: Thiago
Description: Tema bells
Version: 1.0
*/


@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700&display=swap');

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

body {
    background-color: #EEF8F6;
}
Header {
    background-color: #352A1C;
}

Header .mainHeader{
    display: flex;
    justify-content: space-evenly;
}

Header .logo {
    text-decoration: none;
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: 'UnifrakturMaguntia', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 50px;
    color: #BADFDA;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

Header .logo:hover {
    text-decoration: none;
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: 'UnifrakturMaguntia', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 50px;
    color: #99BDB9;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

Header .mainLinks {
    margin-top: 42px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-around;
}

Header .linksHeader {
    text-decoration: none;
    padding: 15px;
    font-family: 'Overlock SC', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FAFAFA;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

Header .linksHeader:hover {
    text-decoration: none;
    padding: 15px;
    font-family: 'Overlock SC', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #D8D8D8;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

Header .doar {
    margin-left: 15px;
    font-family: 'Overlock SC', cursive;

    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    background: #BADFDA;
    border: 2px solid rgba(98, 154, 157, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 40px;
}

Header .doar:hover{
    text-decoration: none;
    font-family: 'Overlock SC';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fafafa;
    background: #99BDB9;
    border: 2px solid rgba(98, 154, 157, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 40px;
    
}

Footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #352A1C;
}

Footer .mainFooter {
    display: flex;
    justify-content: space-around;
}

Footer .mainLinks {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

Footer .linksFooter {
    text-decoration: none;
    padding: 15px;
    font-family: 'Overlock SC', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #BADFDA;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
Footer .linksFooter:hover {
    text-decoration: none;
    padding: 15px;
    font-family: 'Overlock SC', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #98BDB8;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

Footer .social {
    padding: 15px;
}

Footer .icon {
    margin-right: 22px;
}

Footer .desenvolvido {
    margin-top: 15px;
}

Footer .por{
    font-family: 'Overlock SC';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #BADFDA;
}

Footer .logoIN {
    padding-left: 10px;
}


Footer .copyright {
    background: rgba(98, 154, 157, 0.8);
    font-family: 'Overlock SC';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #BADFDA;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#titulo {
    margin-top: 33px;
    margin-bottom: 33px;
    font-family: 'UnifrakturCook', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 63px;
    text-align: center;

    color: #000000;
}

.artes #containerImagens {
    padding-bottom: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    flex-wrap: wrap;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
}

.contato #containerFormulario {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    background: #352A1C;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.contato #firstItem {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    
}

.contato .form {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}


.contato .descForm {
    font-family: 'Overlock SC';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #BADFDA;
}

.contato #inputNome {
    width: 280px;
    height: 50px;
    background: #EEF8F6;
    box-shadow: inset 2px 4px 2px rgba(98, 154, 157, 0.7);
    border-radius: 10px;
}

.contato #inputSobrenome {
    width: 540px;
    height: 50px;
    background: #EEF8F6;
    box-shadow: inset 2px 4px 2px rgba(98, 154, 157, 0.7);
    border-radius: 10px;
}

.contato .inputGeral {
    width: 864px;
    height: 50px;
    background: #EEF8F6;
    box-shadow: inset 2px 4px 2px rgba(98, 154, 157, 0.7);
    border-radius: 10px;
}

.contato #inputMensagem {
    width: 864px;
    height: 300px;
    background: #EEF8F6;
    box-shadow: inset 2px 4px 2px rgba(98, 154, 157, 0.7);
    border-radius: 10px;
}

.contato #butEnviar {
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'Overlock SC', cursive;

    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    background: #BADFDA;
    border: 2px solid rgba(98, 154, 157, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 40px;
}

.contato #butEnviar:hover {
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-decoration: none;
    font-family: 'Overlock SC';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fafafa;
    background: #99BDB9;
    border: 2px solid rgba(98, 154, 157, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 40px;
}

.contato #parceiros {
    margin-top: 50px;
    padding: 100px;
    background: rgba(98, 154, 157, 0.1);
    
}

.contato .normalText {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Overlock SC', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #333333;
}

.contato .containerEditoras {
    display: flex;
    justify-content: space-around;
}

.contato .containerParceiros {
    display: flex;
    justify-content: space-around;
    
}

.livros .listaLivros {
    display:flex;
    flex-direction: column;
}

.livros .itemLivro {
    display: flex;
    margin-left: 100px;
}

.livros .info {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.livros .tituloLivro {
    font-family: 'Overlock SC';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.livros .descLivro {
    margin-top: 10px;
    margin-right: 50px;
    font-family: 'Overlock SC';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    color: #000000;
}





