<section id="containerContato">
    <div id="firstItem">

        <div id="formNome">
            <p class="descForm">Nome</p>
            <input id="inputNome" type="text">
        </div>

        <div id="formSobrenome">
            <p class="descForm">Sobrenome</p>
            <input id="inputSobrenome" type="text">
        </div>

    </div>
</section>